{{ define "main" }}

<div class="py-5">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 text-center h2" style="font-color:#F5F5DC !important; font-style: bold;">
                COMMUNITY
            </div>
        </div>
        <div class="row align-items-center justify-content-center row-cols-2 row-cols-lg-3">
            {{ range .Page.Pages }}
            {{ if in .Params.level "community" }}
                {{- $img := "" }}
                {{- if fileExists (printf "%s/%s" .Path "img/logo.svg") }}
                    {{- $img = (printf "%s%s" .RelPermalink "img/logo.svg") }}
                {{- else if fileExists (printf "%s/%s" .Path "img/logo.png") }}
                    {{- $img = (printf "%s%s" .RelPermalink "img/logo.png") }}
                {{- else if fileExists (printf "%s/%s" .Path "img/logo.jpg") }}
                    {{- $img = (printf "%s%s" .RelPermalink "img/logo.jpg") }}
                {{- else }}
                    {{- $img = (printf "%s%s" .Site.BaseURL "img/company.png") }}
                {{- end }}
            <div class="col p-3">
                <a href="{{ .RelPermalink }}">
                    <img src="{{ $img }}" class="mx-auto d-block" style="width: 75%" />
                </a>
            </div>
            {{ end }}
            {{ end }}
        </div>
        <br>
        <div class="row align-items-center justify-content-center">
            <div class="col-12 text-center sponsor-gold h2">
                GOLD
            </div>
        </div>
        <div class="row align-items-center justify-content-center row-cols-2 row-cols-lg-3">
            {{ range .Page.Pages }}
            {{ if in .Params.level "gold" }}
                {{- $img := "" }}
                {{- if fileExists (printf "%s/%s" .Path "img/logo.svg") }}
                    {{- $img = (printf "%s%s" .RelPermalink "img/logo.svg") }}
                {{- else if fileExists (printf "%s/%s" .Path "img/logo.png") }}
                    {{- $img = (printf "%s%s" .RelPermalink "img/logo.png") }}
                {{- else if fileExists (printf "%s/%s" .Path "img/logo.jpg") }}
                    {{- $img = (printf "%s%s" .RelPermalink "img/logo.jpg") }}
                {{- else }}
                    {{- $img = (printf "%s%s" .Site.BaseURL "img/company.png") }}
                {{- end }}
            <div class="col p-3">
                <a href="{{ .RelPermalink }}">
                    <img src="{{ $img }}" class="mx-auto d-block" style="width: 75%" />
                </a>
            </div>
            {{ end }}
            {{ end }}
        </div>
        <br>
        <div class="row align-items-center justify-content-center">
            <div class="col-12 text-center sponsor-silver h2">
                SILVER
            </div>
        </div>
        <div class="row align-items-center justify-content-center row-cols-2 row-cols-lg-3">
            {{ range .Page.Pages }}
            {{ if in .Params.level "silver" }}
                {{- $img := "" }}
                {{- if fileExists (printf "%s/%s" .Path "img/logo.svg") }}
                    {{- $img = (printf "%s%s" .RelPermalink "img/logo.svg") }}
                {{- else if fileExists (printf "%s/%s" .Path "img/logo.png") }}
                    {{- $img = (printf "%s%s" .RelPermalink "img/logo.png") }}
                {{- else if fileExists (printf "%s/%s" .Path "img/logo.jpg") }}
                    {{- $img = (printf "%s%s" .RelPermalink "img/logo.jpg") }}
                {{- else }}
                    {{- $img = (printf "%s%s" .Site.BaseURL "img/company.png") }}
                {{- end }}
            <div class="col p-3">
                <a href="{{ .RelPermalink }}">
                    <img src="{{ $img }}" class="mx-auto d-block" style="width: 50%" />
                </a>
            </div>
            {{ end }}
            {{ end }}
        </div>
        <br>
        <div class="row align-items-center justify-content-center">
            <div class="col-12 text-center sponsor-bronze h3">
                BRONZE
            </div>
        </div>
        <div class="row align-items-center justify-content-center row-cols-2 row-cols-lg-3">
            {{ range .Page.Pages }}
            {{ if in .Params.level "bronze" }}
                {{- $img := "" }}
                {{- if fileExists (printf "%s/%s" .Path "img/logo.svg") }}
                    {{- $img = (printf "%s%s" .RelPermalink "img/logo.svg") }}
                {{- else if fileExists (printf "%s/%s" .Path "img/logo.png") }}
                    {{- $img = (printf "%s%s" .RelPermalink "img/logo.png") }}
                {{- else if fileExists (printf "%s/%s" .Path "img/logo.jpg") }}
                    {{- $img = (printf "%s%s" .RelPermalink "img/logo.jpg") }}
                {{- else }}
                    {{- $img = (printf "%s%s" .Site.BaseURL "img/company.png") }}
                {{- end }}
            <div class="col p-3">
                <a href="{{ .RelPermalink }}">
                    <img src="{{ $img }}" class="mx-auto d-block" style="width: 75%;" />
                </a>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</div>

<div class="py-5 acd-bg-orange-gradient">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 text-center" style="text-shadow: 1px 1px 2px #000;">
                <div class="h1">Interested in becoming a sponsor?</div>
                <div class="lead">Explore our sponsorship opportunities and connect with the AWS community.</div>
                <div class="lead">Contact us at <a href="mailto:info@awscommunityday.pt">info@awscommunityday.pt</a>.</div>
            </div>
        </div>
    </div>
</div>
{{ end }}